<form>
	<%= hidden_field_tag 'relationship_id', @relationship.id %>
	<%= text_field_tag 'title', @relationship.title, :maxlength => 64 %>
	<%= submit_to_remote nil, 'схрнть', :url => settings_social_url(:action => :title_update) %>
</form>