<div>
	<label for='entry_data_part_1'>Цитата: </label><br/>
	<%= text_area 'entry', 'data_part_1', :rows => 5, :class => 'resizeable' %>
	<%= tasty_error_message_on 'entry', 'data_part_1' %>
</div>

<div>
	<label for='entry_data_part_2'>Источник или комментарий <em>(необязательно)</em>: </label><br/>
	<%= text_area 'entry', 'data_part_2', :rows => 5, :class => 'resizeable' %>
	<%= tasty_error_message_on 'entry', 'data_part_2' %>
</div>