SHELL=/usr/local/bin/bash
MAILTO=andrew.zotov@gmail.com
# SEARCH: reindex delta index every 10 minutes
*/10 * * * * cd /home/joe/tlogs/app/config && /home/joe/tlogs/sphinx/bin/indexer --rotate delta 1>/dev/null 2>&1
# SEARCH: reindex everything at night
0 6 * * * cd /home/joe/tlogs/app/config && /home/joe/tlogs/sphinx/bin/indexer --rotate --all 1>/dev/null 2>&1
# SESSIONS
@hourly /home/joe/tlogs/mysql/bin/mysql --defaults-file=~/.my5p.cnf -e 'delete from sessions where now() - updated_at > 43200' tasty_production
# CACHE
@daily rm -rf /home/joe/tlogs/app-dev/tmp/cache
@daily rm -rf /home/joe/tlogs/app/tmp/cache
