<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>

	</head>
	<body style="padding:30px 20px 50px 30px; margin:0;">

	    <p style="font-family:Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040;"><b>Здравствуйте, <%= h @user.username %>!</b></p>

		<p style="font-family:Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040;">Пользователь <%= link_to_comment_author(@comment) %> оставил комментарий к записи <i>"<%= h @comment.entry.excerpt %>":</i></p>

		<p  style="font-style:italic; font-family:Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040;"><b>Его комментарий:</b><br/>
			<% if @comment.user_id == 0 %>
				<%= @comment.fetch_cached_or_run_block { |text| white_list_anonymous_comment text } %>
			<% else %>
				<%= @comment.fetch_cached_or_run_block { |text| white_list_comment text } %>
			<% end %>
		</p>
		<p style="font-family:Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040;">
			<% if @comment.entry.is_anonymous? %>
				<%= link_to anonymous_url(:host => 'www.mmm-tasty.ru', :action => 'show', :id => @comment.entry_id) + "#comment#{@comment.id}", anonymous_url(:host => 'www.mmm-tasty.ru', :action => 'show', :id => @comment.entry_id) + "#comment#{@comment.id}" %>
			<% else %>
				<%= link_to "#{url_for_tlog(User.find(@comment.entry.user_id))}#{entry_path(@comment.entry)}#comment#{@comment.id}", "#{url_for_tlog(User.find(@comment.entry.user_id))}#{entry_path(@comment.entry)}#comment#{@comment.id}" %>
			<% end %>
		</p>

		<p style="font-family:Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040;">
			Вы получили это письмо, потому что подписались на комментарии к этой записи.
		</p>

		<p style="font-family:Trebuchet MS, Arial, sans serif; font-size:0.95em; width:600px; color:#404040; text-align:right;">C уважением, <img src="http://www.mmm-tasty.ru/images/letter-logo.gif?1176812378" width='101' height='27' style="position:relative; bottom:-18px; margin-left:4px;" /></p>

	</body>
</html>