Здравствуйте, <%= @user.username %>!

 Для того чтобы установить новый пароль для Вашего аккаунта на ммм...тейсти, пройдите, пожалуйста, по этой ссылке:
  <%= @recover_link %>

 Если Вы не запрашивали восстановление пароля то, пожалуйста, проигнорируйте это письмо.

Спасибо!