/* to be filled */

/* POST IMG */

div.post_body img {
	border:1px solid #777;
	padding:1px;
}


/* POST QUATATION */

div.quote_entry span.quote_entry_body {
	font-size:200%;
	font-weight:bold;
	line-height:1.0em;
	color:#333;
	letter-spacing:-1px;
	background:url("/images/bg_qout.gif") no-repeat top left;
}

div.quote_entry span.quote_entry_source {
	display:block;
	text-align:right;
	font-size:100%;
	font-style:italic;
	padding-top:7px;
}


/* POST LINK */

div.post_link_entry a.big_link {
	font-size:220%;
	font-style:bold;
	line-height:1.1em;
}


/* CONVO */
div.convo {
	background:#ffefd7;
	font-family:Arial, Hevletica;
	margin:0 70px 0 30px;

}

.person_1, .person_2  {
	padding:7px 10px;
	color:#805a24;
	font-size:0.85em;
}

.person_1 span, .person_2 span {
	font-weight:bold;
}

.person_2 {
	background:#f6ce96;
}
