<html>

<body>
	<div style='position: absolute; left: 50%; top: 40%; width: 500px; height: 100px; margin-left: -250px; margin-right: -50px;'>
		<div style='font-family: Lucida Grande; font-size: 40px; color: #DF776F; margin-bottom: 50px;'>
			Тейсти, уже в новом виде, вернется в интернет около 23.30!
		</div>
		<div style='font-family: Lucida Grande; font-size: 40px; color: #8F9556'>
		а сейчас нам нужно уединиться и немного пошаманить<br/>
		<form method='post'>
			<input type='password' name='megasecret' style='font-family: Lucida Grande; font-size: 20px; width: 20em;'  /> <input type='submit' value='&#x2192;' style='margin-left: 20px;' />
		</form>
	</div>
</body>

</html>