<div class='feedback' id='<%= feedback.dom_id %>'>
	<p><%= h feedback.message %>
		<span class='feedback_user'>&mdash; <%= link_to_tlog feedback.user, nil, :class => 'highlight' %></span>
	<%= link_to_remote(image_tag('delete.gif'), { :url => feedback_url(feedback), :method => :delete }, :title => 'удалить свой отзыв') if feedback.is_owner?(current_user) %>
	</p>
</div>