<% if @user && !@user.username.blank? %>
	<h1><%= h @user.username %>!</h1>
<% end %>

<p>Пароль и вся необходимая дополнительная инфомрация были высланы на Ваш емейл адрес! Поэтому проверьте пожалуйста почту, письмо скоро должно появиться в Вашем почтовом ящике.</p>

<p>Но если вот уже прошел месяц, а письмо Вам так и не пришло, то напишите, пожалуйста, нам на адрес <%= mail_to "feedback@mmm-tasty.ru", nil, :encode => 'javascript', :subject => 'Сложности со входом на сайт' %> и мы что-нибудь придумаем. Спасибо.</p>

<h1><%= link_to "&#x2190; войти еще раз", login_url %></h1>