в закладки: <a href="javascript:d=document,s='';if(d.getSelection)s=d.getSelection();if(d.selection)s=d.selection.createRange().text;if(window.getSelection)s=window.getSelection();void(window.open('http://www.mmm-tasty.ru/bookmarklet/new?v=1&url='+encodeURIComponent(d.location)+'&title='+encodeURIComponent(d.title)+'&c='+encodeURIComponent(s),'n','menubar=no,toolbar=no,location=no,directories=no,status=no,scrollbars=yes,resizable=yes,width=790,height=700,left=50,top=50'))">сохранить в тлог</a>
<br/>
<a href="javascript:d=document,s='';if(d.getSelection)s=d.getSelection();if(d.selection)s=d.selection.createRange().text;if(window.getSelection)s=window.getSelection();void(window.open('http://www.mmm-tasty.ru/bookmarklet/new?v=1&tags=toread&autosave=true&vis=private&type=link&url='+encodeURIComponent(d.location)+'&title='+encodeURIComponent(d.title)+'&c='+encodeURIComponent(s),'n','menubar=no,toolbar=no,location=no,directories=no,status=no,scrollbars=yes,resizable=yes,width=790,height=700,left=50,top=50'))">to read</a>
