<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<!-- layout: 404 -->
<html>
<head>
	<%= render 'globals/head' %>
</head>
<body class="bg_404">
	<div id="error_404">
		<%= yield %>
	</div>
</body>
</html>