<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<!-- layout bookmarklet -->
<html>
<head>
	<%= render 'globals/head' %>
</head>
<body class="main_page">
	<div class='main_page'>
		<div class="main_rounded_holder">
			<div class="rounded_main_top iePNG"></div>
			<div class="rounded_main_center iePNG">
				<%= yield %>
			</div>
			<div class="rounded_main_bottom iePNG"></div>
		</div>
	</div>
</body>
</html>