<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<!-- layout settings -->
<html>
<head>
	<%= render 'globals/head' %>
</head>
<body class='yui-skin-sam'>
	<div class='settings'>
	<div id="wrapper" class="layout_2">
		<div class="rounded_top iePNG">&nbsp;</div>
		<div class="rounded_center">
			<div class='sidebar_holder'>
				<div class='rel'>
					<div class='sidebar_settings'>
						<%= render 'settings/_menu' %>
					</div>
				</div>
			</div>
			<div class="content_layout_2">
				<div class="padd_left">
					<span class="header"><%= yield :header %></span>
					<%= flash_div %>
					<%= yield %>
				</div>
			</div>
		</div>
		<div class="rounded_bottom iePNG">&nbsp;</div>
	</div>
	<%= render 'globals/foot' %>
	</div>
	<%= render 'globals/top_nav' %>
	<%= yield :body %>
</body>
</html>